h1 {
    color: aqua
    
}
body {
    background-color: dodgerblue;
    background-image: url("https://media.giphy.com/media/mk74G3Ma7EN7q/giphy.gif")
}

p {
    
    color: aquamarine
}

h2 {
    color: blueviolet
}
h3 {
    color: chartreuse
}

h4 {
    color:darkorange
        
}
li {
    color:firebrick
}
h5 {
    color: darkviolet
}